'scopeName': 'source.rug'
'name': 'Rug'
'fileTypes': [
  'rug',
  'rt'
]

'patterns': [
  {
    'match': '\\b(param)\\s+(\\w+)\\s*\\:'
    'captures':
        '1':
            'name': 'keyword.control.rug'
        '2':
            'name': 'entity.name.function.rug'
    'name': 'meta.param.rug'
},
{
  'match': '\\@\\w+'
  'name': 'entity.name.tag.rug'
},
{
  'match': '(begin|end|editWith)\\s+'
  'name': 'keyword.control.rug'
},

{
  'begin': '\\"'
  'end': '\\"'
  'name': 'string.quoted.double.rug'
},
{
  'match': '\\#.*'
  'name': 'comment.line.number-sign.rug'
},
{
  'begin': '\\/\\*'
  'end': '\\*\\/'
  'name': 'comment.block.rug'
},
{
  'match': '\\b(editor|reviewer|uses|executor)\\s+([\\w.-]+)'
  'captures':
      '1':
          'name': 'keyword.control.rug'
      '2':
          'name': 'entity.name.type.rug'
  'name': 'meta.type.rug'
},
{
  'match': '\\b(with)\\s+([a-zA-Z_.-]*)\\s+(\\w+)\\s+(when)'
  'captures':
      '1':
          'name': 'keyword.control.rug'
      '2':
          'name': 'entity.name.type.rug'
      '3':
          'name': 'variable.parameter.rug'
      '4':
          'name': 'keyword.control.rug'
  'name': 'meta.with.rug'
},
{
  'match': '\\b(with)\\s+([a-zA-Z_.-]*)\\s+(\\w+)\\s+'
  'captures':
      '1':
          'name': 'keyword.control.rug'
      '2':
          'name': 'entity.name.type.rug'
      '3':
          'name': 'variable.parameter.rug'
  'name': 'meta.with.rug'
},
{
  'match': '(do)\\s+(\\w*)'
  'captures':
      '1':
          'name': 'keyword.control.rug'
      '2':
          'name': 'entity.name.function.rug'
  'name': 'meta.do.rug'
}
]
